@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --primary-color: #2356FF;
  --secondary-color: #7657FF;
  --light-secondary-color: #8DA7FC;
  --gray-bg-color: #F9F9F9;
  --gray-border-color: #DDDDDD;
  /* --first-color: hsl(225, 72%, 55%); */
  --text-color: hsl(225, 52%, 30%);
  --body-color: linear-gradient(180deg,
                 hsl(225, 75%, 92%),
                 hsl(225, 78%, 70%));
  --container-color: hsl(225, 75%, 97%);

    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 1rem 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
  /* width: 100vw; */
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  bottom: 0;
  /* height: 100vh; */
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
  text-wrap: nowrap;
  overflow: hidden;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}


main {
    /* border: solid red; */
    /* padding: 1rem; */
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
}

header {
    /* border: solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background: var(--gray-bg-color);
    border-radius: 10px;
}

.header__logo {
  cursor: pointer;
}

.header__logo i{
  /* margin-left: 1rem; */
  font-size: 1.5rem;
  font-weight: 800;
}

.dropdown {
  position: relative;
  width: max-content;
  /* transform: translateY(-5rem); */
}

.dropdown__button, 
.dropdown__item {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.dropdown__button {
  border: none;
  outline: none;
  /* background-color: var(--first-color); */
  background-color: transparent;
  padding: 1.25rem;
  border-radius: .75rem;
  cursor: pointer;
  color: var(--first-color);
  font-size: 16px;
}

.dropdown__icon,
.dropdown__icon .dropdown__icon{
  font-size: 1.25rem;
  color: var(--first-color);
}
.dropdown__icons {
  font-size: 1.25rem;
  color: var(--first-color);
}

.dropdown__name {
  font-weight: 500;
}

.dropdown__icons {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.dropdown__arrow, 
.dropdown__close {
  position: absolute;
  transition: opacity .1s, transform .4s;
}

.dropdown__close {
  opacity: 0;
}

.dropdown__menu {
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: .75rem;
  display: grid;
  row-gap: 1.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 4.5rem;
  transform: scale(.1);
  transform-origin: 10rem -2rem;
  pointer-events: none;
  transition: opacity .4s, transform .4s;
  opacity: 0;
}

.dropdown__item {
  cursor: pointer; 
  transition: color .3s;
}

.dropdown__item .dropdown__icon {
  color: var(--white-color);
  transition: background-color .3s, color .3s;
}

.dropdown__item:hover,
.dropdown__item:hover .dropdown__icon {
  background-color: var(--second-color);
  color: var(--first-color);
  font-weight: 800;
  padding: 5px;
  border-radius: 8px;
}

/* Rotate & hide icon */
.show-dropdown .dropdown__close {
  opacity: 1;
  transform: rotate(-180deg);
}

.show-dropdown .dropdown__arrow {
  opacity: 0;
  transform: rotate(-180deg);
}

/* Show dropdown menu */
.show-dropdown .dropdown__menu {
  opacity: 1;
  transform: scale(1);
  pointer-events: initial;
}

.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: min(90%, 1200px);
    height: 90%;
    overflow-y: auto;
}

.dashboard{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.dashboard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.dashboard .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.dashboard .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.dashboard .header .left .breadcrumb li{
    color: var(--dark);
}

.dashboard .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.dashboard .header .left .breadcrumb li a.dashboard-active{
    color: var(--primary);
    pointer-events: none;
}

.dashboard .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.dashboard .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.dashboard .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.dashboard .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.dashboard .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.dashboard .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.dashboard .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.dashboard .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.dashboard .insights li .info p{
    color: var(--dark);
}

.dashboard .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.dashboard .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.dashboard .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.dashboard .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.dashboard .bottom-data .header .bx{
    cursor: pointer;
}

.dashboard .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    overflow: auto;
    max-height: 500px;
}

.dashboard .bottom-data .orders table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-wrap: nowrap;
    
}

.dashboard .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.dashboard .bottom-data .orders table td{
    padding: 16px 12px;
}

.dashboard .bottom-data .orders table th{
  padding: 16px 12px;
}

.dashboard .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.dashboard .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboard .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

table tbody tr td.actions{
  display: flex;
  gap: 12px;
}

table tbody tr td.actions i{
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

table tbody tr td.actions i.delete{
    color: #d25119;
    border-color: #d25119;
}

table tbody tr td.actions i.edit{
    color: #1d92f1;
    border-color: #1d92f1;
}

table tbody tr td.actions i.view{
    color: #1976d2;
    border-color: #1976d2;
}

.dashboard .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.dashboard .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.dashboard .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.dashboard .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.dashboard .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
    /* border: solid blue; */
}

.reminders .header{
  /* border: solid yellow; */
}

.dashboard .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.dashboard .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reminders .credits{
  border: solid 1px var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: white; */
  gap: 1rem;
  text-wrap: nowrap;
  overflow: auto;

    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.reminders .credits .credits-data{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reminders .credits .credits-data .bx.low{
    background: var(--light-primary);
    color: var(--primary);
}

.reminders .credits .credits-data .bx.medium{
    background: var(--light-warning);
    color: var(--warning);
}

.reminders .credits .credits-data .bx{
    background: var(--light-success);
    color: var(--success);
}

.reminders .credits .credits-data .bx.high{
    background: var(--light-danger);
    color: var(--danger);
}

.reminders .credits .credits-data .bx{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reminders .credits .credits-data .credits__info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.progress{
    display: flex;
    justify-content: center;
}

.progress .progress-bar{
    width: 150px;
    height: 150px;
    background: radial-gradient(closest-side, var(--light) 79%, transparent 80% 100%), conic-gradient(#1976d2 25%, #e9e4ff 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;
    border-radius: 50%;
}

.progress .progress-bar::before{
    content: "25%";
    font-size: 22px;
    font-weight: bold;
}

.progress .progress-bar::after{
    content: "used";
    font-size: 13px;
    color: #999;
}

.reminders .purchase-credits{
  /* border: solid yellow; */
  width: 100%;
}

.reminders .purchase-credits button{
    border: none;
    background: #1976d2;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    padding: 14px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
     width: 100%;
}

.reminders .purchase-credits button:hover{
    background: #0d47a1;
}

.dashboard .bottom-data .reminders .task-list{
    width: 100%;
}

.dashboard .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.dashboard .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.dashboard .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.dashboard .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.dashboard .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.dashboard .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}


/* @media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

} */

@media screen and (max-width: 576px) {

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}


@media screen  and (max-width: 600px) {
  body{
    padding: 0 0.4rem 0 3.8rem;
  }
    .header__logo{
      margin-left: 10px;
    }
    .dropdown{
      /* border: solid red; */
    }
    .dropdown__button{
      padding: 10px;
    }
    .dropdown__name{
      display: none;
    }
    .header-title{
      display: none;
    }
}

