{%extends "_base.html" %} 

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', path='css/pricing.css') }}">
    {% endblock %}

{%block content%}

<div class="pricing-div">
    <h3>Personal</h3>
    <h5><span>10</span> / Mo</h5>
    <p><span>free</span> weekly meeting</p>
    <p><span>1x</span> monthly call</p>
    <p><span>unlimited</span> messenger chats</p>
    <p><span>free</span> control panel access</p>
    <p><span>1x</span> face to face meeting</p>
    <button type="button">buy now</button>
</div>
<div class="pricing-div">
    <!-- Sticky "Most Popular" Badge -->
    <div class="head">most popular</div>
    <h3>business</h3>
    <h5><span>15</span> / Mo</h5>
    <p><span>free</span> weekly meeting</p>
    <p><span>1x</span> monthly call</p>
    <p><span>unlimited</span> messenger chats</p>
    <p><span>free</span> control panel access</p>
    <p><span>1x</span> face to face meeting</p>
    <button type="button">buy now</button>
</div>
<div class="pricing-div">
    <h3>enterprise</h3>
    <h5><span>20</span> / Mo</h5>
    <p><span>free</span> weekly meeting</p>
    <p><span>1x</span> monthly call</p>
    <p><span>unlimited</span> messenger chats</p>
    <p><span>free</span> control panel access</p>
    <p><span>1x</span> face to face meeting</p>
    <button type="button">buy now</button>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/pricing.js') }}"></script>
{% endblock %}